In [1]:
!pip show beautifulsoup4

Name: beautifulsoup4
Version: 4.10.0
Summary: Screen-scraping library
Home-page: http://www.crummy.com/software/BeautifulSoup/bs4/
Author: Leonard Richardson
Author-email: leonardr@segfault.org
License: MIT
Location: c:\users\campusseven04\anaconda3\lib\site-packages
Requires: soupsieve
Required-by: conda-build

In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.1.0-py3-none-any.whl (958 kB)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting trio~=0.17
  Downloading trio-0.19.0-py3-none-any.whl (356 kB)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\campusseven04\anaconda3\lib\site-packages (from selenium) (1.26.7)
Collecting outcome
  Downloading outcome-1.1.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: async-generator>=1.9 in c:\users\campusseven04\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\campusseven04\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in c:\users\campusseven04\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\campusseven04\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\campusseven04\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: idna in c:\users\campusseven04\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: pycparser in c:\users\campusseven04\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\campusseven04\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\campusseven04\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\campusseven04\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\campusseven04\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.16.0)
Collecting h11<1,>=0.9.0
  Downloading h11-0.13.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.13.0 outcome-1.1.0 selenium-4.1.0 trio-0.19.0 trio-websocket-0.9.2 wsproto-1.0.0

In [3]:
!pip show selenium

Name: selenium
Version: 4.1.0
Summary:
Home-page: https://www.selenium.dev
Author:
Author-email:
License: Apache 2.0
Location: c:\users\campusseven04\anaconda3\lib\site-packages
Requires: trio-websocket, trio, urllib3
Required-by:

In [4]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [5]:
!pip show pymysql

Name: PyMySQL
Version: 1.0.2
Summary: Pure Python MySQL Driver
Home-page: https://github.com/PyMySQL/PyMySQL/
Author: yutaka.matsubara
Author-email: yutaka.matsubara@gmail.com
License: "MIT"
Location: c:\users\campusseven04\anaconda3\lib\site-packages
Requires:
Required-by:

In [6]:
!pip show sqlalchemy

Name: SQLAlchemy
Version: 1.4.22
Summary: Database Abstraction Library
Home-page: https://www.sqlalchemy.org
Author: Mike Bayer
Author-email: mike_mp@zzzcomputing.com
License: MIT
Location: c:\users\campusseven04\anaconda3\lib\site-packages
Requires: greenlet
Required-by:

In [3]:
my_dict = {}
# {'name':'홍길동'}
my_dict['name'] = '홍길동'
print(my_dict)

{'name': '홍길동'}

In [5]:
my_dict['age'] = 50
print(my_dict)

{'name': '홍길동', 'age': 50}

In [7]:
print(my_dict['name'])

홍길동

In [8]:
my_list = ['aa','bb']
for val in my_list:
    print(val)

aa
bb

In [4]:
print(range(10))
list(range(10))

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
def my_format(value):
    return f'{value:,}'
#value.format(':,')

In [19]:
def my_format3(value):
    return "{:,}".format(value)

In [20]:
my_format3(70000)

'70,000'

In [14]:
my_format(10000)

'10,000'

In [16]:
my_format2 = lambda val:f'{val:,}'

In [21]:
my_format2(30000)

'30,000'

In [23]:
val = (1)
print(type(val))

<class 'int'>

In [26]:
val2 = (1,)
print(type(val2))

<class 'tuple'>

In [30]:
from datetime import date

today = date.today()
print(today)

print(today.year, today.month, today.day)

2022-02-09
2022 2 9

In [31]:
birth_1 = date(1960,1,3)
birth_2 = date(1960,3,4)
print(type(birth_1))
print(birth_1, birth_2)

<class 'datetime.date'>
1960-01-03 1960-03-04

In [35]:
#False(0), True(1)
(7,8) < (5,2)

False

In [36]:
(today.month, today.day) < (birth_1.month, birth_1.day)

False

In [37]:
(today.month, today.day) < (birth_2.month, birth_2.day)

True

In [39]:
# (today.month, today.day) < (birth_1.month, birth_1.day) False이므로 0으로 계산됨
age = today.year - birth_1.year - ((today.month, today.day) < (birth_1.month, birth_1.day))
print(age)

62

In [41]:
# (today.month, today.day) < (birth_2.month, birth_2.day) True이므로 1로 계산됨
age = today.year - birth_2.year - ((today.month, today.day) < (birth_2.month, birth_2.day))
print(age)

61

In [43]:
import pandas as pd

data = {"names": ["soyul", "soyul", "soyul", "Charles", "Charles"], 
 "year": [2014, 2015, 2016, 2015, 2016], 
 "points": [1.5, 1.7, 3.6, 2.4, 2.9]} 

df = pd.DataFrame(data)
df

     names  year  points
0    soyul  2014     1.5
1    soyul  2015     1.7
2    soyul  2016     3.6
3  Charles  2015     2.4
4  Charles  2016     2.9

In [46]:
df['age'] = [10,30,50,40,20]

In [47]:
df

     names  year  points  age
0    soyul  2014     1.5   10
1    soyul  2015     1.7   30
2    soyul  2016     3.6   50
3  Charles  2015     2.4   40
4  Charles  2016     2.9   20

In [6]:
import pandas as pd
import numpy as np

s = pd.Series(['cat', 'dog', np.nan, 'rabbit'])
s

0       cat
1       dog
2       NaN
3    rabbit
dtype: object

In [8]:
s = s.map({'cat': 'kitten', 'dog': 'puppy'})
s

0    kitten
1     puppy
2       NaN
3       NaN
dtype: object